:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Elementos base*/
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, Serif;
    color: white;
}
/* Header*/
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.netflix-logo-image {
    margin: 12px;
    padding: 0;
    width: 120px;
    height: 34px;
    cursor: pointer;
}

.flashlogo{
    width: 500px;
    margin:12px;
    
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.5px;
    font-weight: bold;

}

header nav a:hover{
    color: #fff;
    
}

/*Filme Principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/flash.jpg');

    height:900px;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
}

.filme-principal .descricao {
    margin-bottom: 15px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;

}

.info{
    margin-top:2px;
    font-size: 1.6vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    border-radius: 25px;
    color:white;

    padding: 15px 30px;
    margin:20px;
    margin-right: 15px;
    font: 15px;

    cursor: pointer;
    transition: .3s;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.botao:hover{
    background-color: white;
    color:black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left:20px;
}

.filme-principal .container {
    width: 70%;
}

.lista{
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 20px;

}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    
}

.item {
    cursor: pointer;
}

.carrosel-filmes{
    margin-top: 10px;
}